.parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    padding: 12px;
    overflow: hidden;
}
.link{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.link li{
    list-style: none;
    cursor: pointer;
    padding: 3px;
}
.link li a:hover{
    color: rgba(55, 114, 224, 0.733);
}
